*{
    margin: 0px;
    padding: 0px;
    font-family: arial;
    color: #1B1B1F ;
}
/*--------------------------------Sidenavbar---------------------------------------------------*/
.logo{
    margin-top:10px;
    margin-left: 40px;
    width: 100px;
}
}
.lnavbar{
    margin: 0px;
    padding: 0px;
    box-shadow: 0px 1px 7px 0px lightgray;
    z-index: 1;
}

.ul{
    overflow: hidden;
    margin: 0px;
    padding: 0px;
    height: 100%;

}


.lnavbar ul a{
    text-decoration: none;
    color: gray;
    text-align: left;
    font-family: arial;
    padding: 20px 20px 20px 40px;
    display: block;
  
}

.lnavbar ul a .icon{
    color: gray;
    
}
.lnavbar ul a:hover{
    cursor: pointer;
    background-color: #E3FAEC ;
    border-left: 4px solid #498ED1;
    padding: 20px 20px 20px 36px;
    color: black;
    
}

.lnavbar ul a:hover .icon{
    color: #498ED1;
    
}
.icon{
    font-size: 20px;
}
.logout{
    margin-top: 175px;
}

/*--------------------------------./Sidenavbar---------------------------------------------------*/
/*---------------Main Container-----------------------------------------------------------*/
.main-container{
    display: flex;
    width: 100%;
    max-width: 100%;
}
.main-item{
    padding: 0.5%px 1% 0.5% 1%;
    flex-basis: 13%;
    height: auto;
    max-height: 100%;
}
#main-item-1{
    min-width: 200px;
}
#main-item-2{
    flex-grow: 1;
    
}

@media only screen and (max-width: 1000px){
    #main-item-1{
        display: none;
    }
    
}
@media only screen and (max-width: 768px){
    #main-item-1{
        position: absolute;
        order:3;
    }
    .lnavbar{
        display: none;
    }
}

/*---------------./Main Container-----------------------------------------------------------*/
/*---------------Header Navbar Conatainer-----------------------------------------------------------*/
.header-container{
    display: flex;
    align-items: center;
    padding: 10px 40px 10px 40px;
    
}
.header-item{
  
}
#header-item-1{
    cursor: pointer;
}
#header-item-2{
    /* flex-grow: 8; */
    padding: 0px 10px 0px 10px;
}
#header-item-3{
    min-width: 210px;
}

/*-----Profilebar*/
.profilebar-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.profilebar-item{
    
}
#profilebar-item-1{
    color: gray;
    padding-right: 20px;
}
#profilebar-item-2{
    font-size: 13px;
    font-weight: 600;
    padding-right: 7px;;
}
@media only screen and (max-width: 870px){
    #profilebar-item-2{
        display: none;
        padding-right:0px;
    }
    #header-item-3{
        max-width: 100px;
    }
    #profilebar-item-1{
        padding-right: 5px;
    }
    #header-item-3{
        min-width: 100px;
        max-width: 210px;
    }
}
.vivek{
    color: gray;
    font-size: 11px;
}
.profile{
    border-radius: 50%;
}
.profilebar-icon{
    color: gray;
    font-size: 90px;
}
/*-----./Profilebar*/


/*---------------./Header Navbar Conatainer-----------------------------------------------------------*/

/*----------------Right Bar----------------------------------------------------------------------------*/
.rightbar{
    background-color: #EAF8EF;
    padding: 0.5% 3% 0.5% 3%;
    /* padding: 10px 20px 10px 20px; */
    width: 100%;
    max-width: 94%;
}
.heading-container{
    display: flex;
    padding-top: 20px;
    flex-wrap: wrap;
}
.heading-item{
    flex-basis: 50%;
    max-width: 100%;
    /* background-color: yellow;
    border:1px solid red; */

}
.heading-item-1{

}
.heading-item-3{

}
    
.addClient{
    color:#1075CA;
    font-size: 30px; 
    font-weight: 600;
}
.marketing{
    color:gray;
    font-size: 14px; 
    font-weight: 600;
    margin-top: 0px;
}
.path{
    color:gray;
    font-size: 12px; 
    font-weight: 600;
    margin-top: 10px;
}
.bcbtn{
    background-color:#E8FFF3;
     padding: 10px 15px 10px 15px;
      border-radius: 5px;
      border: 1px solid green;
      float: left;
      font-weight: 800;   
}

@media only screen and (max-width: 600px){
    .heading-item{
        flex-basis: 100%;
    }
}

/*----------------./Right Bar----------------------------------------------------------------------------*/
/*----------------CSS for top navbar----------------------------------------------------------------------------*/

ul.topnav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:white;
  }
  
  ul.topnav li {float: left;}
  
  ul.topnav li a {
    display: block;
    color: #2D3139;;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  .top-three-dot{
      padding: 0px;
      margin: 0px;
      font-size: 26px;
  }
  
  ul.topnav li a:hover{
      color: #107DD7;
  }
  
  @media screen and (max-width: 600px) {
    ul.topnav li.right, 
    ul.topnav li {float: none;}
  }
/*----------------./CSS for top navbar----------------------------------------------------------------------------*/






