*{
    margin: 0px;
    padding: 0px;
    color: #2D3139;
}
.container{
    max-width: 100%;
    width: 100%;
    height: auto;
    
}
.mcol{
    display: grid;
    grid-template-columns: 17% 83%;
    
   
   
}

.mcoll{
  
}

.icon{
    font-size: 20px;
}



/*---------Left Navbar------------*/
.nav-header{
    text-align: center;
}
.img{
    max-width: 40px;
    width: 100%;
    height: auto;
}
.lnavbar{
    margin: 0px;
    padding: 0px;
    box-shadow: 0px 1px 7px 0px lightgray;
    z-index: 1;
}

.lnavbar ul{
    overflow: hidden;
    margin: 0px;
    padding: 0px;
    height: 100%;

}


.lnavbar ul a{
    text-decoration: none;
    color: gray;
    text-align: left;
    font-family: arial;
    padding: 20px 20px 20px 40px;
    display: block;
  
}

.lnavbar ul a .icon{
    color: gray;
    
}
.lnavbar ul a:hover{
    cursor: pointer;
    background-color: #E3FAEC ;
    border-left: 4px solid #498ED1;
    padding: 20px 20px 20px 36px;
    color: black;
    
}

.lnavbar ul a:hover .icon{
    color: #498ED1;
    
}



/*---------Horizontal Navbar------------*/
.nav-header{
    text-align: center;
}
.img{
    max-width: 40px;
    width: 100%;
    height: auto;
}
.hnavbar{
    margin: 0px;
    padding: 0px;
    background-color: white;
}

.hnavbar ul{
    overflow: hidden;
    margin: 0px 35px;
    padding: 0px;
}


.hnavbar ul a{
    text-decoration: none;
    float: left;
    color: gray;
    text-align: left;
    font-family: arial;
    padding: 15px 5px 10px 5px;
    display: inline;
 
  
}

.hnavbar ul a:hover{
    cursor: pointer;
    vertical-align: middle;
}

.hnavbar ul a:hover{
    color: #498ED1;
    vertical-align: middle;
    
}

/*-----------------*/

.logout{
    display: hidden;
}

.personal{
    color:#2D3139;
    font-size: 17px; 
    margin: 10px 0px 5px 30px; 
    font-weight: 600;
}
.enquiry{
    style="color:#2D3139;
    font-size: 17px; 
    margin: 10px 0px 5px 30px; 
    font-weight: 600;"
}
.col50{
    display: grid;
    grid-template-columns: auto auto;

}
.bcbtn{
    background-color:#E8FFF3;
     margin:40px 10px 0px 0px;
     padding: 10px 12px 10px 12px;
      border-radius: 5px;
      border: 1px solid green;
      float: right;
      font-weight: 800;
     
    
}

.col3{
    display: grid;
    grid-template-columns: 33.33333333% 33.33333333% 33.33333333%;
    padding: 0px 20px 0px 20px;
}
.col2{
    display: grid;
    grid-template-columns: 50% 50%;
    padding: 0px 20px 0px 20px;
}

.col1{
    display: grid;
    grid-template-columns: auto;
}

input{
    border:1px solid gray;
    box-shadow: 1px 1px 4px lightgray;
    min-height: 40px;
    width: 100%;
    max-width: 97%;
    height: auto;
    border-radius: 3px;
    border: none;
    margin: 10px;
    color: gray;
    padding: 0px 0px 0px 10px;
}
select{
    border:1px solid gray;
    box-shadow: 1px 1px 4px lightgray;
    min-height: 40px;
    width: 100%;
    max-width: 100%;
    height: auto;
    border-radius: 3px;
    border: none;
    margin: 10px;
    padding: 0px 10px 0px 10px;
}
select,option{
    color: gray;
}
.col33{
    padding: 0px 20px 0px 0px;
}
.div_ancbtn{
    text-align: right;
    padding-right: 20px;
    margin: 10px 0px 0px 10px;
}
.div_cbtn{
    padding-left: 10px;
    margin: 10px 10px 0px 10px;
}
.ancbtn{
    background-color:#107DD7;
    color: white;
    
    width: 100%;
    text-align: center;
    padding: 10px 0px 10px 0px;
     max-width: 400px;
      border-radius: 3px;
      border: 0px solid #107DD7;
      font-weight: 800;  
     
}

.cbtn{
    background-color:#E62F2F;
    color: white;
    width: 100%;
    text-align: center;
    margin-right: 50px;
    padding: 10px 0px 10px 0px;
     max-width: 400px;
      border-radius: 3px;
      border: 0px solid #E62F2F;
      float: left;
      font-weight: 800;  
      
}
/*//////////////////////////////////////////////////////*/
@media only screen and (max-width: 1200px){
    .col3{
        grid-template-columns: 50% 50%;
    }
}

/*------------------------------------------------------------------*/

#collapse {
    display: none;
  }
  
  #collapse:target {
    display: block;
  }

/*-------------------------------------------------------------------*/
@media only screen and (max-width: 1200px){
    .mcol{
        display: grid;
        grid-template-columns: 100%;
    }
    .lnavbar{
        display: none;
        position: absolute;
    }
}
@media only screen and (max-width: 1024px){
    input{
        max-width: 97.9%;
    }
}

}
@media only screen and (max-width: 992px){
    .col3{
        grid-template-columns: 50% 50%%;
    }
    input{
        max-width: 98%;
    }
   
}
@media only screen and (max-width: 600px){
    .col3{
        grid-template-columns: 100%;
        padding: 0px 0px 0px 0px;
    }
    .col2{
        grid-template-columns: 100%;
        padding: 0px 0px 0px 0px;
    }
    .personal{
        margin: 10px 0px 5px 10px; 
    }
    .enquiry{
        margin: 10px 100px 5px 10px;
    }
    input{
        max-width: 97.2%;
    }
    .bcbtn{
        float: left;
        margin:10px 10px 0px 10px;
    }
    .div_ancbtn{
        text-align: right;
        padding-right: 10px;
        margin: 10px 0px 0px 10px;
    }
    .div_cbtn{
        padding-left: 0px;
        margin: 10px 10px 0px 10px;
    }
    .ancbtn{
      max-width: 100%;
    }
    .cbtn{
        max-width: 100%;
    }
}
.logo{
    margin-top:10px;
    margin-left: 0px;
    width: 100px;
}
.logout{
    margin-top: 175px;
}

