*{
    margin: 0px;
    padding: 0px;
    color: #2D3139;
}
.container{
    max-width: 100%;
    width: 100%;
    height: auto;
    
}
.mcol{
    display: grid;
    grid-template-columns: 17% 83%;
    
   
   
}

.mcoll{
  
}

.icon{
    font-size: 20px;
}



/*---------Left Navbar------------*/
.nav-header{
    text-align: center;
}
.img{
    max-width: 40px;
    width: 100%;
    height: auto;
}
.lnavbar{
    margin: 0px;
    padding: 0px;
    min-width: 300px;
    box-shadow: 0px 2px 3px 0px gray inset;
}

.lnavbar ul{
    overflow: hidden;
    margin: 0px;
    padding: 0px;
    height: 100%;

}


.lnavbar ul a{
    text-decoration: none;
    color: black;
    text-align: left;
    font-family: arial;
    padding: 10px 20px 10px 30px;
    display: block;
  
}

.lnavbar ul a:hover{
    cursor: pointer;
    background-color: #E3FAEC ;
}

.lnavbar ul a:hover .icon{
    color: #498ED1;
}
.lnavbar ul a:hover{
    font-weight: 700;
}


/*---------Horizontal Navbar------------*/
.nav-header{
    text-align: center;
}
.img{
    max-width: 40px;
    width: 100%;
    height: auto;
}
.hnavbar{
    margin: 0px;
    padding: 0px;
    background-color: white;
}

.hnavbar ul{
    overflow: hidden;
    margin: 0px;
    padding: 0px;
}


.hnavbar ul a{
    text-decoration: none;
    float: left;
    color: black;
    text-align: left;
    font-family: arial;
    padding: 10px;
    display: block;
  
}

.hnavbar ul a:hover{
    cursor: pointer;
    vertical-align: middle;
}

.hnavbar ul a:hover{
    color: #498ED1;
    vertical-align: middle;
    
}

/*-----------------*/

.logout{
    display: hidden;
}

.col50{
    display: grid;
    grid-template-columns: auto auto;

}
.bcbtn{
    background-color:#E8FFF3;
    margin:30px 30px 0px 0px;
     padding: 10px 15px 10px 15px;
      border-radius: 5px;
      border: 1px solid green;
      float: left;
      font-weight: 800;
     
    
}

.col3{
    display: grid;
    grid-template-columns: 33.33333333% 33.33333333% 33.33333333%;
    padding: 0px 20px 0px 20px;
}
.col2{
    display: grid;
    grid-template-columns: 50% 50%;
    padding: 0px 20px 0px 20px;
}

.col1{
    display: grid;
    grid-template-columns: auto;
    padding: 0px 20px 0px 20px;
}

input{
    border:1px solid gray;
    box-shadow: 1px 1px 4px lightgray;
    min-height: 30px;
    width: 100%;
    max-width: 100%;
    height: auto;
    border-radius: 3px;
    border: none;
    margin: 10px;
    color: gray;
    padding: 0px 0px 0px 10px;
}
select{
    border:1px solid gray;
    box-shadow: 1px 1px 4px lightgray;
    min-height: 30px;
    width: 100%;
    min-width: 103%;
    height: auto;
    border-radius: 3px;
    border: none;
    margin: 10px;
    padding: 0px 0px 0px 10px;
}
select,option{
    color: gray;
}
.col33{
    padding: 10px;
}
.ancbtn{
    background-color:#107DD7;
    color: white;
    margin:30px 30px 0px 0px;
     padding: 8px 60px 8px 60px;
      border-radius: 3px;
      border: 0px solid #107DD7;
      font-weight: 800;  
      text-align: right;
}

.cbtn{
    background-color:#E62F2F;
    color: white;
    margin:30px 30px 0px 0px;
     padding: 8px 100px 8px 100px;
      border-radius: 3px;
      border: 0px solid #E62F2F;
      float: left;
      font-weight: 800;  
      text-align: right;
}
/*//////////////////////////////////////////////////////*/
@media only screen and (max-width: 1200px){
    .col3{
        grid-template-columns: 50% 50%;
    }
}
@media only screen and (max-width: 992px){
    .col3{
        grid-template-columns: 100%;
    }
    .lnavbar{
        display: none;
    }
    .mcol{
        grid-template-columns: 100%;
    }
}

